<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Mia" class="ec.uce.edu.basebeans.Persona">
        <property name="id" value="1"/>
        <property name="name" value="Mia"/>
        <property name="lastname" value="Khalifa"/>
        <property name="age" value="30"/>
    </bean>

    <bean id="Lana" class="ec.uce.edu.basebeans.Persona">
        <property name="id" value="2"/>
        <property name="name" value="Lana"/>
        <property name="lastname" value="Rhoades"/>
        <property name="age" value="30"/>
    </bean>

    <bean id="Swetie" class="ec.uce.edu.basebeans.Persona">
        <property name="id" value="3"/>
        <property name="name" value="Swetie"/>
        <property name="lastname" value="Fox"/>
        <property name="age" value="25"/>
    </bean>

    <bean id="Sasha" class="ec.uce.edu.basebeans.Persona">
        <property name="id" value="4"/>
        <property name="name" value="Sasha"/>
        <property name="lastname" value="Grey"/>
        <property name="age" value="28"/>
    </bean>

    <bean id="Florentine" class="ec.uce.edu.basebeans.Persona">
        <property name="id" value="5"/>
        <property name="name" value="Florentine"/>
        <property name="lastname" value="Lopez"/>
        <property name="age" value="22"/>
    </bean>

</beans>
